.ipynb_checkpoints
.vscode
**/.DS_Store

EXFOR/Notebooks/neutrons/wandb/
EXFOR/Notebooks/neutrons/testing_wandb/
EXFOR/Notebooks/neutrons/model_checkpoints/
EXFOR/CSV_Files/**/*.csv
EXFOR/CSV_Files/EXFOR_neutrons/*.txt
EXFOR/CSV_Files/EXFOR_protons/*.txt
Evaluated_Data/Zip_Files/
ML_Models/**/*.joblib