**/.ipynb_checkpoints
**/.vscode
**/.DS_Store

ENSDF/RIPL/*
!ENSDF/RIPL/levels/

Evaluated_Data/Zip_Files/


ML_EXFOR_neutrons/testing_wandb/
ML_EXFOR_neutrons/model_checkpoints/
EXFOR/CSV_Files/**/*.csv
EXFOR/CSV_Files/EXFOR_neutrons/*.txt
EXFOR/CSV_Files/EXFOR_protons/*.txt
ACE/acedata_ml/U233/*

**/ML_Models
**/wandb