.ipynb_checkpoints
.vscode
.DS_Store
Figures/.DS_Store
Notebooks/EXFOR_neutrons/wandb/
Notebooks/EXFOR_neutrons/testing_wandb/
Notebooks/EXFOR_neutrons/model_checkpoints/
EXFOR/CSV_Files/**/*.csv
EXFOR/CSV_Files/EXFOR_neutrons/*.txt
EXFOR/CSV_Files/EXFOR_protons/*.txt
ENDF/Zip_Files/
ENDF/ENDF_neutrons/
TENDL/
ML_Models/**/*.joblib