body {
	font-family:verdana,geneva,helvetica,sans-serif;
	font-size: 10pt;
	background-color: #F5F5F5;
	background: url(../../mytool/images/bck2.png) repeat-x bottom;
	color: #333333;
	margin: 0px;
	padding: 0px;
	text-align: justify;
/* 	text-indent: 10px; */
}

td {
	background-color:  #F5F5F5;
/* 	text-indent: 10px; */
}

.mainCentral {
	background-color:  #F5F5F5;
	background-image: none;
	margin: 0px;
	padding: 0px;
}

h1 { 
	text-align: center;
	margin: 0px;
	font-family:verdana,geneva,helvetica,sans-serif;
	font-size: 200%;
	font-weight: bold;
	color: #00008B;
	padding-top: 20px;
	padding-bottom: 10px;
}

h2 { 
	text-align: center;
	margin: 0px;
	font-family:verdana,geneva,helvetica,sans-serif;
	font-size: 180%;
	font-style:italic;
	color: #00008B;
	padding-top: 12px;
	padding-bottom: 6px;
}

h3 {
	text-align: center;
	margin: 0px;
	font-family:verdana,geneva,helvetica,sans-serif;
	font-size: 140%;
	font-weight: bold;
	color: #00008B;
	padding-top: 12px;
	padding-bottom: 6px;
}

h4 { 
	text-align: center;
	margin: 0px;
	font-family:verdana,geneva,helvetica,sans-serif;
	font-size: 120%;
	font-weight: bold;
	color: #00008B;
	padding-top: 10px;
	padding-bottom: 5px;
}

/* The TABS should have less fonts, to compact the information */
.intabtxt {
	font-size: 80%;
}

/* Special paragraph for references */
p.ref {
margin-left: 20px;
text-indent: -20px;
margin-top: 0px;
margin-bottom: 0px;
padding-top: 0px;
padding-bottom: 0px;
}